@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://img.freepik.com/premium-vector/geometric-technological-background_63801-64.jpg?semt=ais_hybrid");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(105, 181, 207);
}

h2{
  font-size: 40px;
  color: rgb(113, 175, 182);
}

h3{
  font-size: 20px;
  color: rgb(92, 144, 151)
}
    
    
  
}
#myCanvas {
 
}



